.main-wrapper {
  height: 60vh;
  margin: 10px 50px;
  font-size: 1.2em;
}
.info-wrapper {
  margin-top: 15px;
}
/*.map-details {*/
/*  font-size: 1.2em;*/
/*}*/
.map-details span {
  font-weight: bold;
}
.search-input {
  width: 80%;
  font-size: 1.2em;

}
